* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: "OpenSans-Regular";
    font-weight: 100;
    font-size: 20px;
    color: #707070;
    scroll-behavior: smooth;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    color: #585858;
}

.sectionHeading {
    font-weight: bold;
    font-size: 50px;
    color: #585858;
}

p {
    font-size: 25px;
    color: #707070;
}

a {
    text-decoration: none;
}

/*--------Nav--------*/
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: space-around;
}

.pageAnchors .navIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pageAnchors a {
    margin-left: 15px;
    margin-right: 15px;
}

.navIcons {
    text-align: right;
}

#LinkedInLogo {
    width: 50px;
    height: 50px;
}

#GithubLogo {
    width: 45px;
    height: 45px;
}

/*--------Intro--------*/
.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

#introWords {
    width: 50%;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#introPara {
    margin-top: 15px;
    width: 87%;
}

#profilePic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.scrollDown {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.scrollUp {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #000;
    transition: 0.4s ease;
}

.scrollDown1 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.scrollDown2 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.scrollDown3 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.scrollDown4 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .scrollDown1 {
    transform: rotate(-135deg);
}

.round:hover .scrollDown2 {
    transform: rotate(135deg);
}

.round:hover .scrollDown3 {
    transform: rotate(225deg);
}

.round:hover .scrollDown4 {
    transform: rotate(-225deg);
}

.scrollUp1 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 35%;
}

.scrollUp2 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 35%;
}

.scrollUp3 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 25%;
    bottom: 54%;
}

.scrollUp4 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .scrollUp1 {
    transform: rotate(135deg);
}

.round:hover .scrollUp2 {
    transform: rotate(-135deg);
}

.round:hover .scrollUp3 {
    transform: rotate(-225deg);
}

.round:hover .scrollUp4 {
    transform: rotate(225deg);
}

/*--------Projects--------*/
.projects {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.projectLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.projectElement {
    width: 170px;
    height: 220px;
    margin: 0px 30px 0px 30px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.projectWords {
    font-size: 17px;
    font-weight: bold;
}

.projectType {
    margin-top: 18px;
}

.projectName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

#projectElt1 {
    border: 6px solid #F9A3FF;
}

#projectElt2 {
    border: 6px solid #A0FF70;
}

#projectElt3 {
    border: 6px solid #FFA2A2;
}

.line{
    width: 130px;
    height: 5px;
}

#line1{
    border-bottom: 2px solid #F9A3FF;
}
#line2{
    border-bottom: 2px solid #A0FF70;
}
#line3{
    border-bottom: 2px solid #FFA2A2;
}

#projectElt1 p{
    color: #F9A3FF;
}

#projectElt2 p{
    color: #A0FF70;
}

#projectElt3 p{
    color: #FFA2A2;
}

#projectElt3 {
    margin-bottom: -12px;
}


/*--------Contact--------*/

.Contact {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 15%;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.contactElement {
    width: 150px;
    height: 200px;
    margin: 0px 30px 0px 30px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactWords {
    font-size: 17px;
    font-weight: bold;
}

#contactResume p{
    color: #43EEE9;
}

#contactLinkedIn p{
    color: #FF8484;
}

#contactGitHub p{
    color: #9966FE;
}

#contactEmail p{
    color: #EE435F;
}

#contactResume {
    border: 6px solid #43EEE9;
}

#contactLinkedIn {
    border: 6px solid #FF8484;
}

#contactGitHub {
     border: 6px solid #9966FE;
 }

#contactEmail {
    border: 6px solid #EE435F;
}

#line4{
    border-bottom: 2px solid #43EEE9;
}
#line5{
    border-bottom: 2px solid #FF8484;
}

#line6{
    border-bottom: 2px solid #9966FE;
}

#line7{
    border-bottom: 2px solid #EE435F;
}